<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta name="viewport" content="width=device-width; initial-scale=1.0" />
<script th:src="@{/webjars/jquery/3.7.1/jquery.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.13.2/jquery-ui.js}"></script>
<script th:src="@{/webjars/js-cookie/2.2.1/js.cookie.js}"></script>

<link
	th:href="@{/webjars/jquery-ui-themes/1.13.2/ui-lightness/jquery-ui.css}"
	rel="stylesheet">

<style type="text/css">
/*
	table format
*/
table {
	border: groove;
	border-width: 1px;
	line-height: 1.0em;
}

table.nrm {
	border-width: 0px;
}

th {
	background-color: #e0e0e0;
	border-width: 1px;
	border-bottom-style: solid;
	text-align: center;
}

td {
	background-color: #ffffff;
	border-width: 1px;
	border-bottom-style: inset;
	border-right-style: inset;
	text-align: center;
	line-height: 1.0em;
	color: #008;
}

td.nrm {
	background-color: #ffffff;
	border-width: 1px;
	border-bottom-style: inset;
	border-right-style: inset;
	text-align: left;
	line-height: 1.0em;
	color: #008;
}

td.nrmRight {
	background-color: #ffffff;
	border-width: 1px;
	border-bottom-style: inset;
	border-right-style: inset;
	text-align: right;
	line-height: 1.0em;
}

td.nrmRefined {
	background-color: #ffffff;
	border-width: 1px;
	border-bottom-style: inset;
	border-right-style: inset;
	text-align: left;
	color: red;
}

td.nrmBase {
	border-width: 0px;
	text-align: left;
	vertical-align: top;
	color: #008;
}
</style>
<th:block
	th:insert="~{js4Spring/general/flowActionGeneral :: javascriptBody}"></th:block>
<script>
	$().ready(function() {
		$('#tabMain').tabs({
			active : 0
		});

		$("#tabMessage").tabs({
			active : 0
		});
		
		$("#dlgQRCodeInputDialog").dialog({
			autoOpen : false,
			minWidth : 800,
			minHeight : 300
		});
		executeLiteralCount('taQRInfo','dvTotalByteOfQRString');
	});

	function resetByDetailMode() {
		var detailMode = $("#cbToggleDetail").prop("checked");
		if (detailMode == false) {
			$(".CDetailScriptOfImage").hide();
		} else {
			$(".CDetailScriptOfImage").show();
		}
	}

	function hideOrShowPseudoDeleted() {
		var hideMode = $("#cbToggleHidePseudoDeleted").prop("checked");
		if (hideMode == false) {
			$(".cDivHideImage").hide();
		} else {
			$(".cDivHideImage").show();
		}
	}

	function hideOrShowPseudoDeletedOnVoice() {
		var hideMode = $("#cbToggleHidePseudoDeletedOnVoice").prop("checked");
		if (hideMode == false) {
			$(".cDivHideVoice").hide();
		} else {
			$(".cDivHideVoice").show();
		}
	}

	function setSliderValueByCookie() {
		$("#slider4ImageWidth")
				.slider(
						{
							slide : function(event, ui) {
								$("#imgOnDetailDescription").css("width",
										ui.value);
								Cookies.set("sliderValue", ui.value, {
									expires : 30
								});
								$("#divImageWidthValue").text(
										ui.value + " x "
												+ Math.round(ui.value * 3 / 4));
							},
							value : Cookies.get("sliderValue"),
							min : 160,// 640の25%が最小幅
							max : 640
						});
		$("#imgOnDetailDescription").css("width", Cookies.get("sliderValue"));
		$("#divImageWidthValue").text(
				Cookies.get("sliderValue") + " x "
						+ Math.round(Cookies.get("sliderValue") * 3 / 4));
	}

	function showDetailOnThisImage(data, imgUrl) {
		$("#trSourceOfChangeDescription").hide();
		$("#dlgDetailDialog").dialog("open");
		$("#tdTxtImageId").text(data.dataId);
		$("#tdTxtSym").text(data.symMeaning);
		$("#tdTxtMyCallSign").text(data.myCallSign);
		$("#tdTxtDestination").text(data.destination);
		$("#tdTxtDescription").text(data.description);
		$('#txtSourceOfChangeDescription').val(data.description);
		$("#tdTxtBaseDate").text((new Date(data.baseDate)).toLocaleString());
		$("#tdTxtDate2Send").text((new Date(data.date2Send)).toLocaleString());
		$("#tdTxtDate2Receive").text(
				(new Date(data.date2Receive)).toLocaleString());
		$("#tdTxtPictureSize").text(data.pictureSize);
		$("#tdTxtFileCoreName").text(data.fileCoreName);
		$("#tdTxtDuplicateOf").text(data.duplicateOf);

		// 画像にQRコードが含まれていて、このコードにURLが含まれている場合、並びにEMailAddressが含まれている場合
		var additionalButtons = "";
		var color = null;
		if ((data.includedURL != null && data.includedURL.length>0) || (data.includedEMailAddress != null && data.includedEMailAddress.length>0)) {
			if ((data.includedURL != null && data.includedURL.length>0) ) {
				var count=1 ;
				data.includedURL.forEach (function(target) {
					additionalButtons += "<button type=\"button\" onclick=\"window.open('"
							+ target
							+ "','','noreferrer');\">URL先(" + count++ + ")を参照</button>";
					color = "yellow";
				});
			}
			if ((data.includedEMailAddress != null && data.includedEMailAddress.length>0)) {
				var count=1 ;
				data.includedEMailAddress.forEach (function(target) {
					additionalButtons += "<button type=\"button\" onclick=\"location.href=\'mailto:"
							+ target
							+ "?subject=mail from "
							+ data.myCallSign + "\'\">EMail(" + count++ + ")を作成</button>";
					color = "#8f8";
				});
			}
			if ((data.includedURL != null && data.includedURL.length>0) && (data.includedEMailAddress != null && data.includedEMailAddress.length>0))
				color = "#aff";
			$("#tdTxtQRStringHtml").html(
					additionalButtons + "<br/>" + data.qrStringHtml);
			$("#tdTxtQRStringHtml").css("background-color", color);
		} else {
			if (data.qrStringEscaped != null)
				$("#tdTxtQRStringHtml").css("background-color", "#fcc");
			else
				$("#tdTxtQRStringHtml").css("background-color", "white");
			$("#tdTxtQRStringHtml").html(data.qrStringHtml);
		}

		// 画像関連詳細情報ダイアログボックス内で既削除画像の場合には復活ボタンを、現存画像の場合には削除ボタンを表示するようになっている。
		if (data.active) {
			$("#btnRecoverThis").hide();
			$("#btnDeleteThis").show();
			$("#btnDeleteThisCompletely").show();
			$("#dlgDetailDialog").css("background-color", "#ffc");
		} else {
			$("#btnRecoverThis").show();
			$("#btnDeleteThis").hide();
			$("#btnDeleteThisCompletely").show();
			$("#dlgDetailDialog").css("background-color", "#555");
		}
		// 画像そのもののURLを設定
		$("#imgOnDetailDescription").attr('src', imgUrl)
		// 各種指示・設定用のリクエストform にこのimageIdを設定
		$("#txtImageIdOfDelete").val(data.dataId);
		$("#txtImageIdOfDeleteImageCompletely").val(data.dataId);
		$("#txtImageIdOfRecover").val(data.dataId);
		$("#txtImageIdOfChangeDescription").val(data.dataId);
	}

	function confirmCompleteDeleteImageAndExec() {
		if (window
				.confirm('*************\n本処理は復活できません。\n*************\n\n本画像を削除してよろしいですか？')) {
			// OKの場面
			$("#dlgDetailDialog").dialog("close");
			submitAndStore2Target('frmCompleteDeleteAndExec', 'divImageGallery');
		}
		return;
	}

	function deleteImageMarking() {
		$("#dlgDetailDialog").dialog("close");
		submitAndStore2Target('frmDeleteImageMarking', 'divImageGallery');
	}

	function recoverImageMarking() {
		$("#dlgDetailDialog").dialog("close");
		submitAndStore2Target('frmRecoverMarking', 'divImageGallery');
	}

	function confirmAndCompleteClearImage() {
		submitAndStore2Target("frmMove2MemoryAndCompleteClearAllImages",
				"divImageGallery");
	}

	function submitShowBankContents(targetDirName) {
		$(".cBranchDirName").val(targetDirName);
		submitAndStore2Target("frmshowBankDirContents", "divImageListOfBank");
		$("#divImageListOfBank").show();
		$("#divRenameBankOperator").hide();
	}

	function submitRecallDirContents(targetDirName) {
		$(".cBranchDirName").val(targetDirName);
		submitAndStore2Target("frmRecallDirContents", "divImageGallery",
				"tabMain", 0);
	}

	function showReNameplain(targetDirName) {
		$("#divImageListOfBank").hide();
		$("#divRenameBankOperator").show();
		$(".cRenameBranchDirName").val(targetDirName);
	}

	function submitRenameDir() {
		if ($("#txtNewBranchDirName").val().trim() == "") {
			window.alert("変更後の名称が空白になっています。\n「変更後の名称」は、空白以外の文字列を指定してください。");
			return;
		}
		if ($("#txtNewBranchDirName").val().trim() == $(
				"#txtPresentBranchDirName").val()) {
			window.alert("変更前と変更後の名称が同じです。\n変更処理は行いません。");
			return;
		}
		submitAndStore2Target("frmRenameOneOfBankDir", "divImageListOfBank");
	}

	function deleteThisBank(dirName2Delete) {
		if (window.confirm("「" + dirName2Delete
				+ "」を削除します。\n復活処理はありません。よろしいですか？")) {
			$(".cBranchDirName").val(dirName2Delete);
			submitAndStore2Target("frmDeleteThisBankDir", "divImageListOfBank");
		}
		console.log("NO!!!");
	}

	// QRコード入力欄に入力済みの文字列の文字数の表示
	function executeLiteralCount(sourceId,targetId) {
		if ($('#' + sourceId).val() == null)
			$('#' + targetId).text("0 文字");
		else
			$('#' + targetId).text($('#' + sourceId).val().length + " 文字");
	}

	function executeDescriptionCount(sourceId,targetId) {
		if ($('#' + sourceId).val() == null)
			$('#'+ targetId).text(0);
		else {
			var lengthOfDescription = $('#' + sourceId).val().length;
			if (lengthOfDescription > 11)
				lengthOfDescription = "<font color='red'>11文字を越える文字は無視されます。</font>" +　lengthOfDescription ;
			$('#'+ targetId).html(lengthOfDescription　+　"文字");
		}
	}

	// メーラを起動する
	function executeMailTo(eMailAddress, myCallSign) {
		location.href = "mailto:" + eMailAddress + "?subject=mail From "
				+ myCallSign;
	}

	function requestChangeDescription() {
		// txtDataIdOfChangeDescriptionには、showDetailOnThisImage()が設置しているので設定の必要性なし。
		var sourceString = $("#txtSourceOfChangeDescription").val();

		$("#txtDestinationOfChangeDescription").val(
				$("#txtSourceOfChangeDescription").val());
		submitAndStore2Target("frmChangeDescription", "divImageGallery");
	}

	function executeCreateQRCodeAndLoadPresentImages() {
		// var sourceString = $("#txtQRDescription").val();
		submitAndStore2Target('frmQRCodeUpload', 'divImageGallery');
		$('#dlgQRCodeInputDialog').dialog('close');
	}
	
	/*
		MOUNTの処理は、画像、MESSAGE、VOICEそれぞれをキックする。これは、一回のMOUNT操作によっても表示すべき
		事項（画像リスト、MESSAGE-LIST、VOICE-LIST）を表示するところが別々なので、これらの取得のためのリクエスト
		を個々に送る必要があるからである。なお、MESSAGE、VOICEのMOUNTリクエストにおいては、予めMOUNTされている
		ことを前提としており、ＭＯＵＮＴされていなければ１０秒待ち、それでもＭＯＵＮＴされないときに、はじめてＭＯＵＮＴする
		ようになっている。
	*/
	function processMount(){
		$('#dlgDetailDialog').dialog('close');
		submitAndStore2Target('frmLoadSDCard4Pict','divImageGallery');
		submitAndStore2Target('frmLoadSDCard4Msg','divMessageGallery');
		submitAndStore2Target('frmLoadSDCard4Voice','dvVoiceList');
	}
</script>
</head>
<body>

	<div id="dlgQRCodeInputDialog" title="QRコード入力" style="display: none;">
		<form id="frmQRCodeUpload" method="post"
			th:action="@{/execute/images/createQRCodeAndLoadPresentImages}"
			enctype="multipart/form-data">
			<h2>QRコードに変換する文字列</h2>
			<textarea id="taQRInfo" name="strQRCode"
				style="width: 760px; height: 8em;"
				oninput="executeLiteralCount('taQRInfo','dvTotalByteOfQRString');"></textarea>
			<br />
			<div>
				テキストの文字数：<span id="dvTotalByteOfQRString"></span>
			</div>
			記述(空白許容)：<input id="txtQRDescription" name="description2Change"
				style="width: 16em;"
				oninput="executeDescriptionCount('txtQRDescription','dvTotalByteOfDescriptionString');">
			<button type="button" onclick="$('#divLiteralExplain').toggle();">使用文字の説明</button>
			<br />
			<div id="divLiteralExplain"
				style="display: none; background-color: #fcc;"
				onclick="$('#divLiteralExplain').hide();">「記述」欄で使用できる文字列は、半角の英数字(0～9,a～z,A～Z)
				、半角の特殊文字（!"#$%&\'()*+,-./）、並びに全角のカタカナに限ります。</div>
			<div>
				記述の文字数：<span id="dvTotalByteOfDescriptionString"></span>
			</div>
			<div
				style="padding: 5px; float: left; margin: 5px; background-color: #fdd; border: solid 4px #faa;">
				最大容量 <select id="slFileSize4QR" name="volumeTarget">
					<option th:each="elem : ${prop.maxSizeOfImageMap}"
						th:selected=" ${elem.key == prop.maxSizeOfImage}"
						th:value="${elem.key}" th:text="${elem.value}">
				</select> <select name="imageSize">
					<option value="160">160×120</option>
					<option value="320" selected>320×240</option>
				</select>誤り訂正レベル<select name="errorCorrectionLevel">
					<option value="H">強 (30%までの訂正能力)</option>
					<option value="Q" selected>中強(25%までの訂正能力)</option>
					<option value="M">中 (15%までの訂正能力)</option>
					<option value="L">弱 (7%までの訂正能力)</option>
				</select>
			</div>
			<div
				style="padding: 5px; float: left; margin: 5px; background-color: #fdd; border: solid 4px #faa;">
				<button type="button"
					onclick="$('#taQRInfo').val('');executeLiteralCount('taQRInfo','dvTotalByteOfQRString');">電文削除</button>
				<button type="button"
					onclick="executeCreateQRCodeAndLoadPresentImages() ;">Convert
					and Upload</button>
			</div>
		</form>
	</div>

	<div id="Container">
		<div style="width: 100%; margin: 0 auto;">
			<div class="stage">
				<div
					style="color: red; margin: 0 auto; font-size: 24px; padding-top: 10px; padding-bottom: 10px; text-align: center;">
					SD-CARD Handler for YAESU SYSTEM FUSIONⓇ Ver. 202405XX
					<div th:if="${prop.debugMode}"
						style="color: red; font-size: 1.2em;">(DEBUG MODE)</div>
				</div>
			</div>
			<div class="stage">
				<div style="clear: both;" id="tabMain">
					<ul>
						<li><a href="#tab1">画像処理</a></li>
						<li><a href="#tab2">BANK処理</a></li>
						<li><a href="#tab3">MESSAGE処理</a></li>
						<li><a href="#tab4">音声再生</a></li>
						<li><a href="#tab5">対象設定</a></li>
					</ul>
					<div id="tab1">
						<div
							style="display: flex; width: 100%; justify-content: center; align-items: center;">

							<div>
								<button id="btnMountAndLoad" onclick="processMount();"
									style="margin-right: 10px;">MOUNT</button>
								<br />
								<button id="btnOpenQRCodeInputDialog"
									onclick="executeDescriptionCount('txtQRDescription','dvTotalByteOfDescriptionString');$('#dlgQRCodeInputDialog').dialog('open');"
									style="margin-right: 10px;">QR入力</button>
							</div>
							<div
								style="background-color: #4c4; color: white; padding: 10px; margin: 5px;">
								<label style="cursor: pointer;"><input type="checkbox"
									id="cbToggleDetail" onchange="resetByDetailMode();">副情報</label>
							</div>
							<div
								style="background-color: #44c; color: white; padding: 10px; margin: 5px;">
								<label style="cursor: pointer;"><input type="checkbox"
									id="cbToggleHidePseudoDeleted"
									onchange="hideOrShowPseudoDeleted();">疑似消去表示</label>
							</div>
							<form id="frmLoadSDCard4Pict" method="post"
								th:action="@{/execute/images/mountAndLoadPresentImages}"
								enctype="multipart/form-data">
								<input type="hidden" id="txtDriveName1" class="cTxtDriveName"
									name="sdCardDrive"> <input type="hidden"
									id="txtRadioId2Send1" class="cTxtRadioId2Send" name="radioId">
								<input type="hidden" id="txtTopLetterOfPhotoFile1"
									class="cTxtTopLetterOfPhotoFile" name="topLetterOfPhotoFile">
								<input type="hidden" id="txtMyCallSign1" class="cTxtMyCallSign"
									name="myCallSign">
							</form>
							<form id="frmUploadNewImages" method="post"
								th:action="@{/execute/images/uploadNewImages}"
								enctype="multipart/form-data">
								<input type="hidden" id="txtDriveName2" class="cTxtDriveName"
									name="sdCardDrive"> <input type="hidden"
									id="txtRadioId2Send2" class="cTxtRadioId2Send" name="radioId">
								<input type="hidden" id="txtTopLetterOfPhotoFile2"
									class="cTxtTopLetterOfPhotoFile" name="topLetterOfPhotoFile">
								<input type="hidden" id="txtMyCallSign2" class="cTxtMyCallSign"
									name="myCallSign">
								<div
									style="background-color: #fdd; padding: 5px; float: left; border: solid 2px #afa; margin: 5px;">
									<input type="file" draggable="true" multiple="multiple"
										name="file"></input>
								</div>
								<div
									style="padding: 5px; float: left; margin: 5px; background-color: #fdd; border: solid 4px #faa;">
									最大容量/画像 <select id="slFileSize" name="volumeTarget">
										<option th:each="elem : ${prop.maxSizeOfImageMap}"
											th:selected=" ${elem.key == prop.maxSizeOfImage}"
											th:value="${elem.key}" th:text="${elem.value}">
									</select>
								</div>
								<div
									style="padding: 5px; float: left; margin: 5px; background-color: #fdd; border: solid 4px #faa;">
									挿入文字列：<input type="text" id="txtSendTo"
										name="specifiedStn2Send" style="width: 6em;"><select
										id="slLetterPos" name="posOfSuperImpose"
										style="margin-left: 5px;">
										<option th:each="elem : ${prop.positionOfSuperImposeMap}"
											th:value="${elem.key}" th:text="${elem.value}">
									</select>
									<!-- ================================================================================================== -->
									<!-- SUPER IMPOSEをする際の文字色の指定を限定されたもののなかからするときには、SELECT文のコメントを外し、INPUT文をコメントアウトすること。 -->
									<!-- ================================================================================================== -->
									<input id="color-dialog" type="color" value="#404040"
										name="specifiedColor">
									<!--/*  
									 <select id="slLetterColor" name="specifiedColor"
										style="margin-left: 5px;">
										<option th:each="elem : ${prop.colorSelectionMap}"
											th:value="${elem.key}" th:text="${elem.value}">
									</select>
									 */-->
								</div>
							</form>
							<select name="imageSize">
								<option value="160">160×120</option>
								<option value="320" selected>320×240</option>
							</select>
							<button style="margin-left: 5px;"
								onclick="submitAndStore2Target('frmUploadNewImages','divImageGallery');">UPLOAD</button>
							<form id="frmMove2MemoryAndCompleteClearAllImages" method="post"
								th:action="@{/execute/images/move2MemoryAndCompleteClearAllImages}"
								enctype="multipart/form-data">
								<button type="button" onclick="confirmAndCompleteClearImage() ;"
									style="margin-left: 5px;">Move to BANK</button>
							</form>
							<div style="float: left; text-align: center;"></div>
						</div>
						<hr />
						<!--/* ************************** */-->
						<!--/*  以下の部分に、画像リストを表示する。*/-->
						<!--/* ************************** */-->
						<div id="divImageGallery" style=""></div>
					</div>
					<div id="tab2">
						<!--/* ************************************************************************** */-->
						<!--/*                                   BANK                                     */-->
						<!--/* ************************************************************************** */-->
						ここでは、バンク記録によってバックアップしたデータを現用データに戻します。操作前に現用データがあればバンクに記録します。
						<div>
							<form id="frmShowBankList" method="post"
								th:action="@{/execute/images/showBankList}"
								enctype="multipart/form-data">
								<button type="button" id="btnShowDirectory4Bank"
									onclick="$('#txtBankListFrom').val(1);submitAndStore2Target('frmShowBankList','divDirectoryList4Bank');">リスト再取得</button>
								<input type="hidden" id="txtBankListFrom" name="startFrom">
								<select name="sortingOrder"
									onchange="$('#btnShowDirectory4Bank').click();">
									<option value="timeOrder">時間順（new -> old）</option>
									<option value="timeReverseOrder">時間逆順（old -> new）</option>
									<option value="nameOrder">名称順</option>
									<option value="nameReverseOrder">名称逆順</option>
								</select>
							</form>
						</div>
						<div id="divDirectoryList4Bank"></div>
					</div>
					<div id="tab3">
						<!--/* ************************************************************************** */-->
						<!--/*                                 MESSAGE MESSAGE                            */-->
						<!--/* ************************************************************************** */-->
						<!--/* ================
							  最初に隠しformの定義 
							================ */-->
						<form id="frmLoadSDCard4Msg" method="post"
							th:action="@{/execute/messages/mountAndLoadPresentMessages}"
							enctype="multipart/form-data"></form>
						<div style="clear: both;" id="tabMessage">
							<ul>
								<li><a href="#tabMessage1">既受信MESSAGE処理</a></li>
								<li><a href="#tabMessage2">新規MESSAGE書込処理</a></li>
							</ul>
							<div id="tabMessage1">
								<button type="button"
									style="float: left; height: 2em; vertical-align: middle;"
									onclick="processMount();">MOUNT</button>
								<div style="float: left; vertical-align: middle;">
									<form id="frmShowMessageList" method="post"
										th:action="@{/execute/messages/showMessageList}"
										enctype="multipart/form-data">
										<input type="hidden" id="txtMessageListFrom" name="startFrom">
										<button type="button" id="btnShowMessageList"
											style="height: 2em;"
											onclick="$('#txtMessageListFrom').val(1);submitAndStore2Target('frmShowMessageList','divMessageGallery');">リスト再取得</button>
										<select name="sortingOrder" style="height: 2em;"
											onchange="$('#btnShowMessageList').click();">
											<option value="timeOrder" selected>時間順（new -> old）</option>
											<option value="timeReverseOrder">時間逆順（old -> new）</option>
											<option value="nameOrder">名称順</option>
											<option value="nameReverseOrder">名称逆順</option>
										</select>
									</form>
								</div>
								<br style="clear: both;" />
								<hr>
								<div id="divMessageGallery"></div>
							</div>
							<div id="tabMessage2">
								<div style="">
									<div>
										<textarea id="txtMessage2Send"></textarea>
										<button type="button" onclick="">記録</button>
										<button type="button"
											onclick="submitAndStore2Target('frmTest','divMessageGallery');">test</button>
										<form id="frmTest" method="post" enctype="multipart/form-data"
											action="testA"></form>
									</div>
								</div>
								<br style="clear: both;" />
							</div>
						</div>

					</div>
					<div id="tab4">
						<!--/* ************************************************************************** */-->
						<!--/*                             VOICE VOICE VOICE                              */-->
						<!--/* ************************************************************************** */-->
						<!--/* ================
						  隠しformの定義 
						================ */-->
						<form id="frmLoadSDCard4Voice" method="post"
							th:action="@{/execute/voices/mountAndLoadPresentVoices}"
							enctype="multipart/form-data">
							<input type="hidden" id="txtVoiceListOrderOnMount"
								name="sortingOrder"> <input type="hidden"
								name="startFrom" value="1">
						</form>
						<div>
							<button type="button"
								onclick="$('#txtVoiceListOrderOnMount').val($('#slVoiceSortingOrder').prop('value'));processMount();"
								style="float: left; vertical-align: middle;padding:5px;">MOUNT</button>
							<div
								style="float: left; background-color: #44c; color: white; margin-left: 10px;margin-right: 10px;padding:5px;">
								<label style="cursor: pointer;"><input type="checkbox"
									id="cbToggleHidePseudoDeletedOnVoice"
									onchange="hideOrShowPseudoDeletedOnVoice();">疑似消去表示</label>
							</div>
							<div style="float: left; vertical-align: middle;">
								<form id="frmShowVoiceList" method="post"
									th:action="@{/execute/voices/showVoiceList}"
									enctype="multipart/form-data">
									<input type="hidden" id="txtVoiceListFrom" name="startFrom">
									<button type="button" id="btnShowVoiceList"
										style="height: 2em;"
										onclick="$('#txtVoiceListFrom').val(1);submitAndStore2Target('frmShowVoiceList','dvVoiceList');">リスト再取得</button>
									<select name="sortingOrder" style="height: 2em;"
										id="slVoiceSortingOrder"
										onchange="$('#btnShowVoiceList').click();">
										<option value="timeOrder" selected>時間順（new -> old）</option>
										<option value="timeReverseOrder">時間逆順（old -> new）</option>
										<option value="nameOrder">名称順</option>
										<option value="nameReverseOrder">名称逆順</option>
									</select>
								</form>
							</div>
							<audio id="plyAudioPlayer" controls></audio>
						</div>
						<hr>
						<div id="dvVoiceList"></div>
					</div>

					<div id="tab5">
						<div style="float: left;">
							<form id="frmSettlement" method="post"
								th:action="@{/execute/settleOfProperty}"
								enctype="multipart/form-data">
								<table>
									<tr>
										<th>項目名</th>
										<th>設定値</th>
									</tr>
									<tr>
										<th>SDCARD Drive名</th>
										<td style="text-align: left;"><select id="slSdCardDrive"
											name="sdCardDrive">
												<option th:each="elem : ${prop.pcDriveNameMap}"
													th:text="${elem.value}" th:value="${elem.key}"
													th:selected="${prop.sdCardDrive == elem.key}">
										</select></td>
									</tr>
									<tr>
										<th>Radio ID(半角５文字)</th>
										<td style="text-align: left;"><input type="text"
											id="txtRadioId" name="radioId" style="width: 6em;"
											placeholder="対象のSD-CARDを挿入するリグRADIO-IDを記入"
											th:value="${prop.radioId}"></td>
									</tr>
									<tr>
										<th>呼出符号(半角１０文字以内)</th>
										<td style="text-align: left;"><input type="text"
											id="txtMyCallSign" style="width: 10em;" name="myCallSign"
											th:value="${prop.myCallSign}" placeholder="自局のコールサインを記入"></td>
									</tr>
									<tr>
										<th>ImageMagickの記録場所</th>
										<td style="text-align: left;"><input type="text"
											id="txtImageMagickPath" name="imageMagickPath"
											style="width: 30em;" th:value="${prop.imageMagickPath}"
											placeholder="対象のSD-CARDを挿入するリグRADIO-IDを記入"></td>
									</tr>
									<tr>
										<th>ブラウザ・プログラム・ファイルのURI</th>
										<td style="text-align: left;"><input type="text"
											id="txtBrowserPath" name="browserPath" style="width: 30em;"
											th:value="${prop.browserPath}"
											placeholder="対象のSD-CARDを挿入するリグRADIO-IDを記入"></td>
									</tr>
									<tr>
										<th>PHOTO下のファイル名頭文字</th>
										<td style="text-align: left;"><select
											id="slTopLetterOfPhotoFile" name="topLetterOfPhotoFile">
												<option th:each="sel : ${prop.topLetterOfPhotoFileMap}"
													th:text="${sel.value}"
													th:selected="${prop.topLetterOfPhotoFile == sel.key}"
													th:value="${sel.key}"></option>
										</select></td>
									</tr>
									<tr th:if="${prop.debugMode}">
										<th>DebugMode Directory Offset</th>
										<td style="text-align: left;"><input type="text"
											id="txtBrowserPath" name="offset4Debug" style="width: 30em;"
											th:value="${prop.strOffset4Debug}"
											placeholder="デバッグモード時のディレクトリ・オフセット"></td>
									</tr>
									<tr>
										<th>PCTDIRデータ中の穴埋値(16進数で指定)</th>
										<td style="text-align: left;"><select
											name="strFillByteInPctDir">
												<option th:each="sel : ${prop.fillByteInPctDirMap}"
													th:value="${sel.key}" th:text="${sel.value}"
													th:selected="${prop.strFillByteInPctDir == sel.key}">数値</option>
										</select> <!--/* 										<input type="text"
 											id="txtBrowserPath" name="strFillByteInPctDir"
 											style="width: 2em;" th:value="${prop.strFillByteInPctDir}"
 											placeholder="PCTDIRデータ中で空白を埋めるバイト値"> */--></td>
									</tr>
									<tr>
										<th>メモリバンクリスト表示行数(10進数で指定)</th>
										<td style="text-align: left;"><select name="listStepSize">
												<option th:each="sel : ${prop.listStepSizeMap}"
													th:text="${sel.value}"
													th:selected="${prop.listStepSize == sel.key}"
													th:value="${sel.key}"></option>
										</select> <!--/*  
										<input type="text"
											id="txtListStepSize" name="listStepSize" style="width: 2em;"
											th:value="${prop.listStepSize}"
											placeholder="メモリバンクリストを表示する１頁分の行数">行/頁 (10進数で指定)
										*/--></td>
									</tr>
									<tr>
										<th>標準最大容量</th>
										<td style="text-align: left;"><select id="slFileSize"
											name="imageSize">
												<option th:each="elem : ${prop.maxSizeOfImageMap}"
													th:selected=" ${elem.key == prop.maxSizeOfImage}"
													th:value="${elem.key}" th:text="${elem.value}">
										</select> <!--/*  
										<input type="text"
											id="txtListStepSize" name="listStepSize" style="width: 2em;"
											th:value="${prop.listStepSize}"
											placeholder="メモリバンクリストを表示する１頁分の行数">行/頁 (10進数で指定)
										*/--></td>
									</tr>
									<tr>
										<th>設定指示</th>
										<td style="text-align: left;"><button type="button"
												id="btnSettleOfProperty" style="background-color: #ccf;"
												onclick="submitAndStore2Target('frmSettlement','divResOfSettlement');">上記の通りに設定する</button>
										</td>
									</tr>
								</table>
							</form>
						</div>
						<div style="float: left;" id="divResOfSettlement"></div>
						<br style="clear: both;">
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>