<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script th:inline="javascript">
	$().ready(function() {
		$("#dlgDetailDialog").dialog({
			autoOpen : false,
			minWidth : 680,
			minHeight : 400
		});
		resetByDetailMode();
		hideOrShowPseudoDeleted();
		if (Cookies.get("sliderValue") == null) {
			// スライダの初期値は320（*240）にしておきます。
			Cookies.set("sliderValue", 320, {
				expires : 30
			});
		}
		setSliderValueByCookie();
		var errorMsg;
		errorMsg = /*[[${errorMessageList}]]*/Found_errorMessage
		if (errorMsg != "") {
			// エラーがあったときにはこちらが実行されます。
		} else {
			// 画像処理プレーンに表示があったときには、併せてBANK処理プレーンにも表示を行うことにする。
			$("#btnShowDirectory4Bank").click();
		}
		$("#dlgDetailDialog").dialog("close");
	});
</script>
</head>
<body>
	<!--/* 原画像ファイルとDIR情報を残しつつ、削除マークをつけるだけの処理のリクエスト*/-->
	<form id="frmDeleteImageMarking" method="post"
		th:action="@{/execute/images/deleteImageMarking}">
		<input type="hidden" id="txtImageIdOfDelete" name="targetDataId"
			value="test">
	</form>
	<!--/* 原画像ファイルとDIR情報を跡形もなく完全に削除する処理のリクエスト*/-->
	<form id="frmCompleteDeleteAndExec" method="post"
		th:action="@{/execute/images/deleteImageCompletely}">
		<input type="hidden" id="txtImageIdOfDeleteImageCompletely"
			name="targetDataId" value="test">
	</form>
	<!--/* DIR情報中の「記述」欄の修正を求めるリクエスト　*/-->
	<form id="frmChangeDescription" method="post"
		th:action="@{/execute/images/changeDescription}">
		<input type="hidden" id="txtImageIdOfChangeDescription"
			name="targetDataId"> <input type="hidden"
			id="txtDestinationOfChangeDescription" name="description2Change">
	</form>
	<!--/* DIR情報に削除マークが付けられた画像について、参照可能に復活させるためのリクエスト*/-->
	<form id="frmRecoverMarking" method="post"
		th:action="@{/execute/images/recoverMarking}">
		<input type="hidden" id="txtImageIdOfRecover" name="targetDataId"
			value="test">
	</form>
	<div id="dlgDetailDialog" title="画像関連詳細情報">
		<div
			style="width: 156px; float: left; cursor: pointer; background-color: #fdc; text-align: center; border-radius: 8px; border: solid 2px #888;"
			id="divImageWidthValue"
			ondblclick="Cookies.set('sliderValue', 320, {expires: 30}); setSliderValueByCookie();"
			onclick="Cookies.set('sliderValue', 160, {expires: 30}); setSliderValueByCookie();"></div>
		<div id="slider4ImageWidth"
			style="width: calc(100% - 165px); float: left;"></div>

		<div style="clear: both;">
			<img id="imgOnDetailDescription" style="width: 320px;">
		</div>
		<table style="width: 100%;">
			<tr>
				<!--/*  javascript　関数showDetailOnThisImage()内でどちらかのボタンのみが表示されるようになっている。*/-->
				<th style="width: 6em;">操作指示</th>
				<td><button id="btnDeleteThis" style="background-color: pink;"
						onclick="deleteImageMarking() ;">削除扱い保存</button>
					<button id="btnDeleteThisCompletely"
						style="background-color: #f66;"
						onclick="confirmCompleteDeleteImageAndExec();">完全削除</button>
					<button id="btnRecoverThis" style="background-color: #8f8;"
						onclick="recoverImageMarking();">復活</button></td>
			</tr>
			<!--/*  
			<tr>
				<td>管理ID</td>
				<td id="tdTxtImageId"></td>
			</tr>
			*/-->
			<tr>
				<th>SYM</th>
				<td id="tdTxtSym"></td>
			</tr>
			<tr>
				<th>By</th>
				<td><div id="tdTxtMyCallSign"></div></td>
			</tr>
			<tr>
				<th>To</th>
				<td><div id="tdTxtDestination"></div></td>
			</tr>
			<tr>
				<th>記述
					<button type="button"
						onclick="$('#trSourceOfChangeDescription').toggle();">変更</button>
				</th>
				<td>
					<div id="tdTxtDescription"></div>
				</td>
			</tr>
			<tr style="display: none;" id="trSourceOfChangeDescription">
				<th>記述変更指示</th>
				<td style="text-align: left;"><input type="text"
					id="txtSourceOfChangeDescription" style="width: 14em; float: left;"
					oninput="executeDescriptionCount('txtSourceOfChangeDescription','txtDescriptionLiteralVol',11);">
					<button type="button" onclick="requestChangeDescription();"
						style="background-color: #ccf;">変更実行</button>
					<button type="button"
						onclick="$('#divLiteralExplainInDetail').toggle();">使用文字の説明</button>
					<br />
					<div id="txtDescriptionLiteralVol"></div>
					<div id="divLiteralExplainInDetail"
						style="display: none; background-color: #fcc;"
						onclick="$('#divLiteralExplainInDetail').hide();">「記述」欄で使用できる文字列は、半角の英数字(0～9,a～z,A～Z)
						、半角の特殊文字（!"#$%&\'()*+,-./）、並びに全角のカタカナに限ります。</div></td>
			</tr>
			<tr>
				<th>記録日時</th>
				<td><div id="tdTxtBaseDate"></div></td>
			</tr>
			<tr>
				<th>送信日時</th>
				<td><div id="tdTxtDate2Send"></div></td>
			</tr>
			<tr>
				<th>受信日時</th>
				<td><div id="tdTxtDate2Receive"></div></td>
			</tr>
			<tr>
				<th>容量</th>
				<td><div id="tdTxtPictureSize"></div></td>
			</tr>
			<tr>
				<th>File名</th>
				<td><div id="tdTxtFileCoreName"></div></td>
			</tr>
			<tr>
				<th>F重複性</th>
				<td><div id="tdTxtDuplicateOf"></div></td>
			</tr>
			<tr>
				<th>QR文字列</th>
				<td><div id="tdTxtQRStringHtml"
						style="width: 100%; text-align: left;"></div></td>
			</tr>
		</table>
	</div>

	<h1 th:text="|${title}(ファイル名中の最大値：${fs.presentMaxNumberInPictFileName})|"
		style="font-size: 1.5em; color: #822;"></h1>
	<!--/* 
	<span th:if="${fs!=null}"
		th:text="|現在のファイル名中の最大整数値：${fs.presentMaxNumberInPictFileName}(${fs.pctDirListWithDisplayOrder.size()}管理要素)|"></span>
	*/-->
	<th:block th:each="errorMsg,status : ${errorMessageList}">
		<div th:text="|(${status.count}) ${errorMsg}|" style="color: red;"></div>
	</th:block>
	<div style="width: 100%;">
		<th:block th:if="${fs !=null && fs.pctDirListWithDisplayOrder !=null}">
			<th:block th:each="entity : ${fs.pctDirListWithDisplayOrder}">
				<div th:if="${entity.realFileExists}"
					th:class="${entity.active?'cDivShowImage':'cDivHideImage'}"
					th:style="|float: left; margin: 2px;border:${entity.borderDefinition()};background-color:${entity.backgroundDefinition}; text-align: center;|">
					<div th:text="${entity.description}"
						style="text-align: center; max-width: 9em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; height: 1.2em;"></div>
					<img
						th:src="@{/execute/images/downloadImage(fileName2Dowload=${entity.fileCoreName},uniqId=${entity.generatedUniqString},branchDirName=${branchDirName})}"
						style="width: 160px; height: 120px; margin: 5px; position: relative;"
						th:onclick="showDetailOnThisImage([[${entity}]],[[@{/execute/images/downloadImage(fileName2Dowload=${entity.fileCoreName},uniqId=${entity.generatedUniqString},branchDirName=${branchDirName})}]]);executeDescriptionCount('txtSourceOfChangeDescription','txtDescriptionLiteralVol',11);">
					<table class="CDetailScriptOfImage">
						<tr>
							<th>管理ID</th>
							<td th:text="${entity.dataId}"></td>
						</tr>
						<tr>
							<th>SYM</th>
							<td
								th:text="|${entity.symMeaning}(${T(java.lang.Integer).toHexString(entity.sym)})|"></td>
						</tr>
						<tr>
							<th>By</th>
							<td th:text="${entity.myCallSign}"></td>
						</tr>
						<tr>
							<th>To</th>
							<td th:text="${entity.destination}"></td>
						</tr>
						<!--/*  
						<tr>
							<th>記述</th>
							<td th:text="${entity.description}"></td>
						</tr>
						*/-->
						<tr>
							<th>記録</th>
							<td
								th:text="${#dates.format(entity.baseDate,'yyyy/MM/dd HH:mm')}"></td>
						</tr>
						<tr>
							<th>送信</th>
							<td
								th:text="${#dates.format(entity.date2Send,'yyyy/MM/dd HH:mm')}"></td>
						</tr>
						<tr>
							<th>受信</th>
							<td
								th:text="${#dates.format(entity.date2Receive,'yyyy/MM/dd HH:mm')}"></td>
						</tr>
						<tr>
							<th>容量</th>
							<td th:text="|${entity.pictureSize} bytes|"></td>
						</tr>
						<tr>
							<th>File名</th>
							<td th:text="${entity.fileCoreName}"></td>
						</tr>
						<tr>
							<th>重複</th>
							<td th:if="${entity.duplicateOf!=null}"
								th:text="|■${entity.duplicateOf}■|" style="color: red;"></td>
							<td th:if="${entity.duplicateOf==null}"></td>
						</tr>
						<tr>
							<th>QR</th>
							<td th:if="${entity.qrStringEscaped == null}"
								style="background-color: #fff;">---</td>
							<th:block th:if="${entity.qrStringEscaped != null}">
								<!--/* EMAILアドレスとURLとがある場合には、URLを優先してリンク */-->
								<td
									th:if="${(entity.includedURL != null && entity.includedURL.size()>0)
										 && (entity.includedEMailAddress != null && entity.includedEMailAddress.size()>0)}"
									th:onclick="window.open([[${entity.includedURL.get(0)}]],'','noreferrer');">
									<div th:utext="${entity.includedURL}"
										style="cursor: pointer; background-color: #aff; max-width: 8em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left;"></div>
								</td>
								<!--/* EMAILアドレスのみがある場合 */-->
								<td
									th:if="${(entity.includedURL == null || entity.includedURL.size()==0)
										 && (entity.includedEMailAddress != null && entity.includedEMailAddress.size()>0)}"
									th:onclick="executeMailTo([[${entity.includedEMailAddress[0]}]],[[${entity.myCallSign}]]);">
									<div th:utext="${entity.includedEMailAddress.get(0)}"
										style="cursor: pointer; background-color: #8f8; max-width: 8em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left;"></div>
								</td>
								<!--/* URLのみがある場合 */-->
								<td
									th:if="${(entity.includedURL != null && entity.includedURL.size()>0)
										 && (entity.includedEMailAddress == null || entity.includedEMailAddress.size()==0)}"
									th:onclick="window.open([[${entity.includedURL.get(0)}]],'','noreferrer');">
									<div th:utext="${entity.includedURL}"
										style="cursor: pointer; background-color: yellow; max-width: 8em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left;"></div>
								</td>
								<!--/* URLもEMAILアドレスもない場合 */-->
								<td
									th:if="${(entity.includedURL == null || entity.includedURL.size()==0)
										&& (entity.includedEMailAddress == null || entity.includedEMailAddress.size()==0)}">
									<div th:utext="${entity.qrStringEscaped}"
										style="background-color: #fcc; cursor: auto; max-width: 8em; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; text-align: left;"></div>
								</td>
							</th:block>
						</tr>

					</table>
				</div>
			</th:block>
		</th:block>
		<div style="clear: both;"></div>
	</div>
</body>
</html>