<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<head>
<meta charset="UTF-8">
<title>dummy for Kick restore</title>
<script th:inline="javascript">
	$().ready(function() {
		$("#btnMountAndLoad").click();
	});
</script>
</head>
<body>
	<div th:if="${errorMessageList.size()==0}">削除完了しました。</div>
	<th:block th:each="errorMsg,status : ${errorMessageList}">
		<p th:text="|(${status.count}) ${errorMsg}|" style="color: red;"></p>
	</th:block>
</body>
</html>